body{
    background-color:bisque;
}
img{
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}
h1{
    color:red;
}
h3{
    color:green;
}
ul{
    color:blue;
}
i{
    color:brown;
}

